body{
	margin:0px;
	padding:0px;
	color: rgb(144,144,144);
	background: rgb(223,223,223);
	text-align: center;
}
#left-nav{
	float:left;
	padding:3% 3% 3% 2%;
	background: royalblue;
	color: #fff;
}
#right-nav{
	float: right;
	background: royalblue;
	color: #fff;
	padding: 3%;
}
.middle{

}
.middle img{
	width:100px;
	height:100px;
	border:1px solid black;
	border-radius: 100%;
}
.desc1{
	background: #fff;
	margin:5%;
	box-shadow: 2px 2px 3px #fff;
}
.skills fieldset{
	margin: 2% 3% 2% 3%;
	border:none;
	background: #fff;
	color: #000;
	box-shadow: 1px 2px 2px grey;
}
.pro-skill{
	color: #fff;
	background:royalblue;
	box-shadow: 1px 2px 1px white;
}
.rank1{
	text-align: right;
	padding-left:1%;
	width:0%;
	background: royalblue;
	transition: width 3s;
}
.rank1:hover{
	width:60%;
}
.rank2{
	text-align: right;
	padding-left:1%;
	width:0%;
	background: royalblue;
	transition: width 3s;
}
.rank2:hover{
	width:75%;
}
footer{
	position:fixed;
	left:0;
	bottom:0;
	width: 100%;
}
.ico1{
	width: 30px;
	height: 30px;
	padding:1%;
}
.left-bottom{
	float:left;
	padding: 3%;
	background: royalblue;
	color: #fff;
}
.right-bottom{
	float: right;
	background: royalblue;
	color: #fff;
	padding:3%;
}
.right-bottom a{
	color:#fff;
	text-decoration: none;
}